{% extends 'Components/base.html'%}

{% block body %}

    <div class="container-lg">
        <div class="row mt-5 text-center mb-2">
            <h2>Meet the Team</h2>
        </div>

        <div class="row row-cols-lg-3 mt-3 mb-3">
            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row mt-2">
                    <div class="col-lg">
                        <p>Name Surname</p>
                        <p>Description</p>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-75">
                    </div>
                </div>
            </div>
         </div>

        <div class="row row h-50 p-5 border-top">
            <h2 class="text-center">Information System A.Y. 2020/2021</h2>
            <p>Why we focused on this</p>
        </div>

    </div>



{% endblock %}

