{% extends 'Components/base.html'%}

{% block body %}

    <div class="container-lg">
        <div class="row mt-5 text-center mb-2">
            <h2>Meet the Team</h2>
        </div>

        <div class="row row-cols-lg-3 mt-3 mb-3 p-3">
            <div class="col">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Aleix Carbonel</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/avatar.png" class="rounded-3 w-100">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Eugenio Massini</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/team%20photos/Eugenio.png" class="rounded-circle w-100">
                    </div>
                </div>
            </div>
           <div class="col">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Anna Neirotti</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/team%20photos/Anna.png" class="rounded-circle w-100">
                    </div>
                </div>
            </div>

            <div class="col mt-2">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Chiara Nicoletti</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/team%20photos/Chiara.png" class="rounded-circle w-100">
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Valeria Porzio</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/team%20photos/Valeria.png" class="rounded-circle w-100">
                    </div>
                </div>
            </div>
            <div class="col mt-2">
                <div class="row p-2">
                    <div class="col-lg m-auto">
                        <h5>Elisa Vassallo</h5>
                    </div>

                    <div class="col-lg">
                        <img src="/static/images/team%20photos/Elisa.png" class="rounded-circle w-100">
                    </div>
                </div>
            </div>
         </div>

        <div class="row row h-50 p-5 border-top">
            <h2 class="text-center">Information System A.Y. 2020/2021</h2>
            <p class="h5 p-3">We are a group of six engineers from different places in the world,
                but linked by the love of food, and we decided to create Edesia.
                It enables people to find fresh food raw materials and to make high-quality grocery shopping from local producers.
                Our aims are to encourage all new generations to live a healthier lifestyle and
                to support local farmers</p>
        </div>

    </div>



{% endblock %}

