{% extends 'Components/base.html' %}

{% block body %}
    <div class="container-lg">

            <div class="container-fluid vh-100">
                <div class="row h-50 align-middle">
                    <div class="col-8 col-mdl m-auto">
                        <section id="search">
                            <h2>Meet Edesia</h2>
                            <p>Find local producers in your area</p>
                            <form method="get" id="research_form">
                                <div class="input-group input-group-lg" id="searchBar">
                                    <input type="text" class="form-control border-2" placeholder="Insert location" id="autocomplete" onfocus="geolocate()">
                                    <button class="btn" type=submit><i class="fas fa-search-location" style="color: white"></i></button>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>

                <div class="row h-50 pt-5 pb-5 border-top border-bottom">
                    <div class="row text-center">
                        <h2>How Edesia works:</h2>
                    </div>
                    <div class="row row-cols-lg-3 text-center mt-2">
                        <div class="col">
                            <i class="fas fa-search fa-7x" style="color: #0F7619"></i>
                            <h2 class="m-2">Search</h2>
                            <p>Look for the best producers in your area</p>
                        </div>
                        <div class="col ">
                            <i class="fas fa-shopping-basket fa-7x" style="color: #0F7619"></i>
                            <h2 class="m-2">Order</h2>
                            <p>Place your order from the comfort of your own home</p>
                        </div>
                        <div class="col ">
                            <i class="fas fa-shipping-fast fa-7x" style="color: #0F7619"></i>
                            <h2 class="m-2">Delivery</h2>
                            <p>You can choose whether to have your box delivered directly to your home or to collect it from your chosen pick-up point.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row row-cols-md-2 mt-5">
                <div class="col-md mb-5">
                    <img src="/static/images/homepage/quality.jpg" class="img-fluid rounded-3">
                </div>
                <div class="col-md text-center align-middle m-auto p-3">
                    <h2>Quality</h2>
                    <p>At Edesia we aim to involve only the best producers in your area to guarantee you the best</p>
                </div>

                <div class="col-md text-center align-middle m-auto p-3">
                    <h2>Easiness</h2>
                    <p>We combine the simplicity of the supermarket and ecommerce to give you a unique and simple shopping experience</p>
                </div>
                <div class="col-md mb-5">
                    <img src="/static/images/homepage/supermarket.jpg" class="img-fluid rounded-3 mt-2">
                </div>

                <div class="col-md mb-5">
                    <img src="/static/images/homepage/fairness.jpg" class="img-fluid rounded-3">
                </div>
                <div class="col-md text-center align-middle m-auto p-3">
                    <h2>Fairness</h2>
                    <p>We help reduce the supply chain to support farmers to increase profits and improve their business</p>
                </div>

            </div>
    </div>
{% endblock %}