{% extends 'Components/base.html' %}

{% block body %}

    <div class="container-lg vh-100">
        <div class="row row-cols-lg-2">
            <!-- text for login -->
            <div class="col m-auto">
                <h1>Enter in Edesia!</h1>
                <p>Your new portal to buy groceries</p>

            </div>
            <!-- login form -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                       <h2 class="card-title">
                           Login
                       </h2>
                        <form method="post">
                            {{ form.email.label }}
                            {{ form.email(class = 'form-control') }}
                            {% for error in form.email.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}

                            {{ form.password.label }}
                            {{ form.password(class = 'form-control') }}
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}

                            {{ form.submit(class='btn btn-primary mt-3') }}
                            {{ form.hidden_tag() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}