{% extends 'Components/base.html' %}

{% block body %}

    <div class="container-lg min-vh-100">
        <div class="row mt-5 mb-5">
            <div class="col-4">

                <div class="card m-auto rounded-3 border-2" id="cardProfileConsumer">
                    <img src="/static/images/avatar.png" class="card-img-top mt-3 mb-3 m-auto" style="width: 50%">
                    <div class="card-body m-3">
                        <h5 class="card-title">Name Surname</h5>
                        <p class="card-text">email</p>
                        <p class="card-text">address</p>
                        <p class="card-text">phone number</p>
                    </div>
                    <div class="card-body border-top m-3">
                        <button class="btn btn-primary">Edit Profile</button>
                    </div>
                </div>
            </div>

            <div class="col-8">

                <div class="container-fluid m-1">
                    <div class="row text-center">
                        <h5>Your Order</h5>
                    </div>

                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#Order</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Icon</th>
                                    <th scope="col">Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">#1</th>
                                    <td>01-01-2021</td>
                                    <td>25,23 €</td>
                                    <td>Delivered</td>
                                    <td><i class="fas fa-check-double"></i></td>
                                    <td><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rowTest" aria-expanded="false" aria-controls="rowTest"></button></td>
                                </tr>
                                <tr id="rowTest" class="collapse">
                                    <td>Test</td>
                                </tr>
                                <tr>
                                    <th scope="row">#1</th>
                                    <td>01-01-2021</td>
                                    <td>25,23 €</td>
                                    <td>Delivered</td>
                                    <td><i class="fas fa-check-double"></i></td>
                                    <td><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rowTest" aria-expanded="false" aria-controls="rowTest"></button></td>
                                </tr>
                                <tr id="rowTest" class="collapse">
                                    <td>Test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}