{%  extends 'Pages/profile/profile-supplier.html' %}

{% block specific %}

    <div class="row text-center">
                        <h5>Your Products</h5>
                        <div class="row row-cols-lg-2 m-auto p-3">
                            <div class="col">
                                <a class="btn btn-primary w-50 m-auto" href="{{ url_for('supplier', id=user.id, page='add-product')}}">Add Product</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary w-50 m-auto" href="{{ url_for('supplier', id=user.id, page='add-box')}}">Add Box</a>
                            </div>
                        </div>
                    </div>

                    {% for product in products %}
                        {% if product.box %}
                            <div class="card m-4 rounded-3 border-3" id="cardResult">
                                <div class="row">
                                    <div class="col-lg">
                                        <div class="card-body">
                                            {% if product.id == product_id %}
                                                <form method="post">
                                                <h5 class="card-title">
                                                    {{ form.name }}
                                                </h5>
                                                <p class="card-text">{{ form.description}}</p>
                                                <p class="card-text">Price: {{ form.price }} €</p>
                                                <p class="card-text">Quantity: {{ form.quantity }}</p>
                                                {{ form.submit }}
                                                {{ form.hidden_tag() }}
                                                </form>

                                            {% else %}
                                            <h5 class="card-title">
                                                {{ product.name }}
                                            </h5>
                                            <p class="card-text">{{ product.description}}</p>
                                            <p class="card-text">Price: {{ product.price }} €</p>
                                            <p class="card-text">Quantity: {{ product.quantity }}</p>
                                            <a class="btn btn-primary" href="">Edit</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price/kg</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                {% if product.box == False %}
                                    {% if product.id==product_id %}
                                        <form method="post">
                                            <tr>
                                                <th scope="row">{{ product.id }}</th>
                                                <td>{{ form.name }}</td>
                                                <td>{{ form.quantity }} Kg</td>
                                                <td>{{ form.price }} €/kg</td>
                                                <td>{{ form.submit }}</td>
                                                {{ form.hidden_tag() }}
                                            </tr>
                                        </form>

                                    {% else %}
                                        <tr>
                                            <th scope="row">{{ product.id }}</th>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.quantity }} Kg</td>
                                            <td>{{ product.price }} €/kg</td>
                                            <td><button class="btn btn-primary" type="button">Edit</button></td>
                                        </tr>
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


{% endblock %}