{% extends 'Components/base.html' %}
{% block profile %}
    <a class="nav-link" href="{{ url_for('consumer', id=user.id) }}">Profile</a>
{% endblock %}
{% block body %}

    <div class="container-lg min-vh-100">
        <div class="row mt-5 mb-5">
            <div class="col-4">

                <div class="card m-auto rounded-3 border-2" id="cardProfileConsumer">
                    <img src="/static/images/avatar.png" class="card-img-top mt-3 mb-3 m-auto" style="width: 50%">
                    <div class="card-body m-3">
                        <h5 class="card-title">{{ consumer.consumer_name }} {{ consumer.consumer_surname }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                        <p class="card-text">{{ consumer.consumer_address }}</p>
                        <p class="card-text">{{ consumer.consumer_phone }}</p>
                    </div>
                    <div class="card-body border-top m-3">
                        <button class="btn btn-primary">Edit Profile</button>
                    </div>
                </div>
            </div>

            <div class="col-8">

                <div class="container-fluid m-1">
                    <div class="row text-center">
                        <h5>Your Order</h5>
                    </div>

                    {% if orders %}

                    {% for order in orders %}
                    <div class="row row-cols-lg-2 mb-3 mt-3">
                        <div class="col">
                             <h3>Order N: {{ order.order.id }}</h3>
                            <p>Total: {{ order.order.amount }}€</p>
                        </div>
                    <div class="col">
                        <a class="btn btn-primary">Leave a Review</a>
                    </div>
                    </div>

                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Partial Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for line in order.content %}
                                <tr>
                                    <th scope="row">{{ line.product_name }}</th>
                                    <td>{{line.quantity}}</td>
                                    <td>{{ line.partial_amount}}</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                        </table>
                    </div>
                {% endfor %}
                {% else %}
                    <p>No orders found</p>
                {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}