{% extends 'Pages/profile/profile_consumer.html' %}

{% block specific %}
            <div class="col-8">

                <div class="container-fluid m-1">
                    <div class="row text-center">
                        <h3>Your Order</h3>
                    </div>

                    {% if orders %}

                    {% for order in orders %}
                    <div class="row row-cols-lg-2 mb-3 mt-3">
                        <div class="col">
                            <h3>Order N: {{ order.order.id }}</h3>
                            <p>Total: {{ order.order.amount }}€</p>
                            <p>Order Date: {{ order.order.date }}</p>
                            <p>Delivery Date: {{ order.order.delivery_date }}</p>
                            <p>From: {{ order.supplier.supplier_name }}</p>
                        </div>
                    <div class="col">
                        {% if  order.order.review == False %}
                            <a class="btn btn-primary" href="{{ url_for('consumer_review', id=consumer.id, order_id=order.order.id)}}">Leave a Review</a>
                        {% endif %}

                    </div>
                    </div>

                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Partial Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for line in order.content %}
                                <tr>
                                    <th scope="row">{{ line.product_name }}</th>
                                    <td>{{line.quantity}} kg</td>
                                    <td>{{ line.partial_amount}} €</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                        </table>
                    </div>
                {% endfor %}
                {% else %}
                    <p>No orders found</p>
                {% endif %}
                </div>
            </div>

{% endblock %}

