{% extends 'Pages/profile/profile-supplier.html' %}

{% block specific %}
                    <div class="row text-center">
                        <h5>Your Order</h5>
                    </div>

                    {% if orders %}

                    {% for order in orders %}

                        <h3>Order N: {{ order.order.id }}</h3>
                        <p>Total: {{ order.order.amount }}€</p>
                        <p>Address: {{ order.consumer.consumer_address}}</p>
                        <p>Order Date: {{ order.order.date }}</p>
                        <p>Delivery Date: {{ order.order.delivery_date }}</p>
                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Partial Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for line in order.content %}
                                <tr>
                                    <th scope="row">{{ line.product_name }}</th>
                                    <td>{{line.quantity}}</td>
                                    <td>{{ line.partial_amount}}</td>
                                </tr>
                            {% endfor %}


                            </tbody>

                        </table>
                    </div>
                {% endfor %}
                {% else %}
                    <p>No orders found</p>
                {% endif %}

{% endblock %}
