{% extends 'Pages/profile/profile-supplier.html' %}

{% block specific %}

                    <div class="row text-center">
                        <h5>Your Products</h5>
                        <a class="btn btn-primary w-50 align-middle m-5" href="{{ url_for('supplier', id=user.id, page='add-product')}}">Add Product</a>
                        <a class="btn btn-primary w-50 align-middle m-5" href="{{ url_for('supplier', id=user.id, page='add-box')}}">Add Box</a>
                    </div>

                    <div class="table-responsive-lg">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#Order</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price/kg</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">#1</th>
                                    <td>Tomatoes</td>
                                    <td>3 kg</td>
                                    <td>3 €/kg</td>
                                    <td><button class="btn btn-primary" type="button">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

{% endblock %}