{% extends 'Components/base.html' %}

{% block body %}

    <div class="container-lg">
        <div class="row row-cols-lg-2">
            <div class="col">
                <img src="/static/images/kimberly-fowler-_L0jF0tt2kE-unsplash.jpg" class="img-fluid rounded-3 w-100">
            </div>
            <div class="col text-center m-auto">
                <h2>Register as a consumer</h2>
                <a href="{{ url_for('registration', type_user='consumer') }}"class="btn btn-primary m-auto">Click Here</a>
            </div>

            <div class="col text-center m-auto">
                <h2>Register as a Supplier</h2>
                <a href="{{ url_for('registration', type_user='supplier') }}"class="btn btn-primary m-auto">Click Here</a>
            </div>
             <div class="col">
                <img src="/static/images/kimberly-fowler-_L0jF0tt2kE-unsplash.jpg" class="img-fluid rounded-3 w-100">
            </div>

        </div>
    </div>

{% endblock %}