{% extends 'Components/base.html' %}

{% block body %}
<div class="row text-center">
    <h1>Join Edesia!</h1>
</div>

<div class="container-fluid">
    <form method="post">
        <div class="col-md-9 m-auto">
             <div class="form-group">
              {{ registrationForm.name.label }}
                {{ registrationForm.name(class='form-control') }}
                {% for error in registrationForm.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>

            <div class="form-group">
              {{ registrationForm.email.label }}
                {{ registrationForm.email(class='form-control') }}
                {% for error in registrationForm.email.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>

            <div class="form-group">
              {{ registrationForm.password.label }}
                {{ registrationForm.password(class='form-control') }}
                {% for error in registrationForm.password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>

            <div class="form-group">
              {{ registrationForm.piva.label }}
                {{ registrationForm.piva(class='form-control') }}
                {% for error in registrationForm.piva.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>

            <div class="form-group">
              {{ registrationForm.address.label }}
                {{ registrationForm.address(class='form-control') }}
                {% for error in registrationForm.address.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
                <p class="help-block"></p>
            </div>

            <div class="form-group">
              {{ registrationForm.phone.label }}
                {{ registrationForm.phone(class='form-control') }}
                {% for error in registrationForm.phone.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>

            <div class="form-group">
              {{ registrationForm.description.label }}
                {{ registrationForm.description(class='form-control') }}
                {% for error in registrationForm.description.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor  %}
            </div>
        <div id="success"></div>
          <!-- For success/fail messages -->
        {{ registrationForm.submit(class='btn btn-primary') }}
            {{ registrationForm.hidden_tag() }}
        </div>
    </form>
</div>
{% endblock %}