{% extends 'Components/base.html' %}

{% block body %}

    <div class="card m-5 shadow">
        <div class="row row-cols-lg-2">
            <div class="col-lg-5">
                <img src="/static/images/registration/consumer-reg_page.jpg" class="img-fluid card-img">
            </div>
            <div class="col-lg-7">
                <div class="card-body">
                    <div class="card-title m-2">
                        <h5>Join Edesia</h5>
                    </div>
                    <form method="post" id="form_error">
                        <div class="form-group m-2">
                            {{ registrationForm.name.label }}
                            {{ registrationForm.name(class='form-control') }}
                            {% for error in registrationForm.name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group m-2">
                                {{ registrationForm.surname.label }}
                                {{ registrationForm.surname(class='form-control') }}
                                {% for error in registrationForm.surname.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        <div class="form-group m-2">
                                {{ registrationForm.email.label }}
                                {{ registrationForm.email(class='form-control') }}
                                {% for error in registrationForm.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        <div class="form-group m-2">
                                {{ registrationForm.password.label }}
                                {{ registrationForm.password(class='form-control') }}
                                {% for error in registrationForm.password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        <div class="form-group m-2">
                                {{ registrationForm.address.label }}
                                {{ registrationForm.address(class='form-control', id="autocomplete", onfocus="geolocate()")}}
                                {% for error in registrationForm.address.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        <div class="form-group m-2">
                                {{ registrationForm.phone.label }}
                                {{ registrationForm.phone(class='form-control') }}
                                {% for error in registrationForm.phone.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                        </div>
                    {{ registrationForm.submit(class='btn btn-primary m-2') }}
                        {{ registrationForm.hidden_tag() }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}