.nav-link {
    color: #0F7619;
}

#my_button .btn{
    color: white;
    background-color: #0F7619;
    border-color: #0F7619;
}

#navbarItem a:hover{
    color: #78AE27;
}

#footer a{
    text-decoration: none;
    color: black;
}

#searchBar input, #cardResult, #cardProfileConsumer{
    border-color: #0F7619;;
}

#searchBar .btn{
    background-color: #0F7619;
    border-color: #0F7619;
}

#form_error .btn{
    background-color: #0F7619;
    border-color: #0F7619;
}

#form_error p{
    color: red;
}

#mylist .active{
    background-color: #0F7619;
    border-color: #0F7619;
}

